@mixin make-input {
  @include font(input-01);
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-input-bg;
  padding: $input-padding-y $input-padding-x;
  height: $input-height;
  border-radius: 0;
  border: 1px solid $color-input-border;
  outline: none;
  transition: $transition-speed $transition-ease;
  transition-property: border-color, box-shadow;
  display: block;
  width: 100%;

  &::placeholder {
    @include font(button-01);

    color: $color-input-placeholder-color;
  }
}

@mixin form-field-input-state($state) {
  @if $state == hover {
    &.is-hovered .form-field__input,
    .form-field__input:hover {
      @content;
    }
  }

  @if $state == focus {
    &.is-focussed .form-field__input,
    .form-field__input:focus,
    &.is-hovered .form-field__input:focus,
    .form-field__input:focus:hover {
      @content;
    }
  }

  @if $state == disabled {
    &.is-disabled .form-field__input,
    .form-field__input:disabled {
      @content;
    }
  }

  @if $state == readonly {
    &.form-field--readonly .form-field__input,
    .form-field__input[read-only] {
      @content;
    }
  }

  @if $state == active {
    &.is-active .form-field__input,
    .form-field__input:active {
      @content;
    }
  }

  @if $state == untouched {
    .form-field__input:placeholder-shown {
      @content;
    }
  }

  @if $state == touched {
    .form-field__input:not(:placeholder-shown) {
      @content;
    }
  }
}

@mixin form-field-icon-button-state($state) {
  transition: $transition-speed $transition-ease;

  @if $state == hover {
    border-color: $color-button-hover-bg;
  }

  @if $state == focus {
    border-color: $color-input-active-border;
  }

  @if $state == active {
    border-color: $color-input-active-border;
    background-color: $color-button-hover-bg;
  }

  @if $state == tab {
    box-shadow: inset 0 0 0 1px $color-input-active-border;
  }

  @if $state == error {
    .form-field__input,
    .form-field__icon,
    .form-field__input:focus + .form-field__icon,
    .dcInvalidCode,
    + .dcodeButton.dcodeapp__btn {
      border-color: $color-danger;
      color: $color-danger;
    }
  }

  @if $state == tabandhover {
    border-color: $color-input-active-border;
  }

  @if $state == errorandhoverbutton {
    .form-field__icon:hover,
    + .dcodeButton.dcodeapp__btn:hover {
      border-color: $color-button-hover-bg;
    }
  }

  @if $state == errorandfocusbutton {
    .form-field__icon:focus,
    + .dcodeButton.dcodeapp__btn:focus {
      border-color: $color-danger;
    }
  }

  @if $state == errorandtab {
    .form-field__input:focus,
    .form-field__icon:focus,
    &:focus,
    + .dcodeButton.dcodeapp__btn:focus {
      border-color: $color-danger;
      box-shadow: inset 0 0 0 1px $color-danger;
    }
  }

  @if $state == disabled {
    color: $color-icon-button-disabled;
  }
}
