{{ 'component-example.css' | asset_url | stylesheet_tag }}

<component-example class="example">
    <span data-mchammer>Can't touch this!</span>
</component-example>

{{ 'component-example.js' | asset_url | script_tag }}