<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><title>add 24</title><g stroke-linecap="square" stroke-width="2" fill="none" stroke="#F7F7F7" stroke-linejoin="miter" class="nc-icon-wrapper" stroke-miterlimit="10">
  <line x1="12" y1="2" x2="12" y2="22"></line> <line x1="22" y1="12" x2="2" y2="12"></line></g>
</svg>
