<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><title>delete</title><g stroke-linecap="square" stroke-width="2" fill="none" stroke="#F7F7F7" stroke-linejoin="miter" class="nc-icon-wrapper" stroke-miterlimit="10">
  <line x1="17" y1="12" x2="7" y2="12"></line></g>
</svg>
