<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow">
  <title>arrow right</title>
  <g stroke-linecap="square" stroke-width="2" fill="none" stroke="currentColor" stroke-linejoin="miter" stroke-miterlimit="10">
    <line data-cap="butt" x1="2" y1="12" x2="22" y2="12" stroke-linecap="butt" stroke="currentColor"></line> 
    <polyline points="15,5 22,12 15,19 "></polyline>
  </g>
</svg>