<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon icon-cart">
  <title>cart</title>
  <g fill="currentColor">
    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
      <path d="M2 3h4.15L12 19h14.89L30 10"></path>
      <circle cx="13.5" cy="26.5" r="2.5"></circle>
      <circle cx="25.5" cy="26.5" r="2.5"></circle>
    </g>
  </g>
</svg>
