{% comment %}
----------------------------------------------------------------------------
  Promo Messaging Template
----------------------------------------------------------------------------
{% endcomment %}
{% raw %}
<script id="promo-messaging-template" type="text/template">
  <div class="notification__text-wrapper">
    <small class="notification__title">
      {{ title }}
    </small>
  </div>
</script>
{% endraw %}