@import '../partials/_variables';

.usp-banner {
    border-bottom: 1px solid $color-base-grey-02;

    &__content {
        display: flex;
        column-gap: 1rem;
        max-width: 650px;
    }

    &__item {
        flex: 1;
        text-align: center;
    }

    &__heading {
       margin: 0;
    }

    &__icon .icon {
        vertical-align: sub;
        fill: currentColor;
    }
}