@use 'sass:list';
@use 'sass:math';

@import '../partials/_variables';
@import '../partials/_mixins';

// stylelint-disable scss/dollar-variable-colon-space-after
$color-card-bg-light:      $color-grey-bg;
$color-card-bg-dark:       fade-out($color-body, 0.1);
$card-border-radius:       $form-field-input-border-radius;
$card-label-border-radius: $form-field-input-border-radius;
$card-min-height:          275px;
$card-z-index:             ('image', 'content', 'target', 'menu');
$card-gutter:              0.75rem;
$card-content-padding:     1.5rem;
// stylelint-enable scss/dollar-variable-colon-space-after

// Article Card
// Lifted and adapted from legacy theme

.card--article {
  position: relative;
  max-height: 600px;
  max-width: $feed-item-width;

  .card__heading {
    margin-bottom: 0;
  }

  .card__media {
    position: relative;
    padding-top: $card-img-aspect-article-hero-small;
    overflow: hidden;
    order: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .card__content {
    position: relative;
    order: 2;
    flex: 1 1 auto;
  }

  .card__information {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    border-radius: 0 0 $card-border-radius $card-border-radius;
    color: $color-body;
    background-color: $color-card-bg-light;
  }

  .card__footer {
    margin-top: 1.5rem;
  }

  .card__icon {
    display: block;
    margin-bottom: 0;
    width: $icon-width-md;
    height: $icon-width-md;

    .nc-icon {
      display: block;
      font-size: $icon-width-md;
    }
  }

  .card__excerpt {
    p {
      margin: 0;
    }
  }

  .card__badge {
    align-self: flex-end;
  }
}

@mixin make-card-labelled($padding: $card-gutter) {
  .card__img {
    border-radius: $card-border-radius;
    padding-top: $card-img-aspect-article-hero-large;
  }

  .card__content {
    position: absolute;
    bottom: $padding;
    left: $padding;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: $card-label-border-radius;
    color: $color-base-white;
    background-color: $color-card-bg-dark;
  }

  .card__information {
    color: $color-base-white;
    background-color: transparent;
  }

  .card__heading {
    color: $color-base-white;
  }

  .badge {
    @include make-badge-inverse;
  }
}

@mixin make-card-large {
  @include make-card-labelled;
  max-width: 100%;

  .card__content {
    justify-content: flex-end;
    width: calc(100% - math.div($feed-gutter, 2));
  }

  .card__information {
    height: auto;
  }
}

@mixin make-card-full-width {
  @include make-card-labelled;
  height: auto;
  max-width: 100%;

  .card__media {
    padding-top: $card-img-aspect-feed-full-width;
  }
  
  .card__content {
    width: calc(((100% - #{$feed-gutter * 2}) / 3));
    height: calc(100% - math.div($feed-gutter, 2));
  }
}

@include media-query('feed-2-cols-only') {
  .card__badge {
    align-self: flex-end;
  }

  .card--format-2-2 {
    @include make-card-large;
    grid-column: {
      start: 1;
      end: span 2;
    }

    .card__badge {
      align-self: flex-start;
    }
  }
}

@include media-query('feed-3-cols') {
  .card--format-3-2 {
    @include make-card-large;
    grid-column: {
      start: 2;
      end: span 2;
    }
  }

  .card--format-3-3 {
    @include make-card-full-width;
    grid-column: {
      start: 1;
      end: span 3;
    }
  }
}
